[build]
builder = "nixpacks"

[deploy]
startCommand = "gunicorn -w 2 -k gevent -b 0.0.0.0:$PORT --timeout 900 --graceful-timeout 900 app:app"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10